In [188]:
import pandas as pd
import numpy as np

In [189]:
raw = 'C:/Users/anton/Resources/Pymoli.csv'
df = pd.read_csv(raw)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [190]:
df_players = pd.DataFrame(df['SN'].unique())
df_players_len = len(df_players)
print('The total amount of players is ' + str(df_players_len))

The total amount of players is 576

In [191]:
unique_dups = df.drop_duplicates(subset ="SN",keep='first')

In [192]:
df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [193]:
df_item = pd.DataFrame(df['Item ID'].unique())
df_item = len(df_item)
df_item

183

In [194]:
df_price = df['Price'].mean()
df_price

3.050987179487176

In [195]:
df_purchases = df['Purchase ID'].count()
df_purchases

780

In [196]:
revenue = df['Price'].sum()
revenue

2379.77

In [197]:
import pandas as pd
Summary = {'Number of Unique Items': [df_item], 
           'Average Price': [df_price], 
           'Number of Purchases': [df_purchases], 
           'Total Revenue': [revenue]}
Summary1 = pd.DataFrame(Summary)

In [198]:
Summary1

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [199]:
# find out male total
df_male = df[df['Gender'] == 'Male']
df1 = df_male['SN'].unique()
#.unique()
df1 = len(df1)
df1

484

In [200]:
df_male = df[df['Gender'] == 'Female']
df2 = df_male['SN'].unique()
df2 = len(df2)
df2

81

In [201]:
# Lets do percentages 
male_p = (df1/df_players) * 100
female_p = (df2/df_players) * 100
remaining = df_players - df1 - df2
rest_p = (remaining/df_players) * 100

TypeError: Could not operate 484 with block values unsupported operand type(s) for /: 'int' and 'str'

In [202]:
Summary = pd.DataFrame({
    "Total Count": [df1, df2, remaining],
    "Percentage of Players": [male_p, female_p, rest_p],
})

Summary.rename(index={0: 'Male', 1: 'Female', 2: 'Other'}, inplace=True)

Summary

        Total Count  Percentage of Players
Male            484              84.027778
Female           81              14.062500
Other            11               1.909722

In [203]:
#Purchasing Analysis by Gender

# Male
gender_m = df.loc[df["Gender"] == 'Male']
print(len(gender_m))
gender_m_price = gender_m['Price'].mean()
total_m = gender_m['Price'].sum()
avg_total_m = total_m/df1

# Female
gender_f = df.loc[df["Gender"] == 'Female']
gender_f_price = gender_f['Price'].mean()
total_f = gender_f['Price'].sum()
avg_total_f = total_f/df2

# Weird 
gender_other = df.loc[df["Gender"] == 'Other / Non-Disclosed']
gender_other_price = gender_other['Price'].mean()
total_o = gender_other['Price'].sum()
avg_total_o = total_o/remaining

652

In [204]:
purchasing_analysis = pd.DataFrame({"Total Purchase Count": [len(gender_m), len(gender_f), len(gender_other)],
                                    "Average Purchase Price": [round(gender_m_price, 2), gender_f_price, gender_other_price],
                                    "Total Purchase Value": [total_m, total_f, total_o],
                                    "Avg Total Purchase per Person": [avg_total_m, avg_total_f, avg_total_o],
                                   })
purchasing_analysis.rename(index={0: 'Male', 1: 'Female', 2: 'Other'}, inplace=True)
# Purchase Count

purchasing_analysis

,Total Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.020000,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other,15,3.346000,50.19,4.562727

In [206]:
# Bins

# Create bins for ages 
bins = [0, 9, 14, 19, 24, 29,
        34, 39, 40]

# I need to correct the ages and the bins 

group_labels = [">10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39",  "40+"]

df["Age Group"] = pd.cut(df["Age"], bins, labels=group_labels)

unique_dups["Age Group"] = pd.cut(unique_dups["Age"], bins, labels=group_labels)
unique_dups.head()

C:\Users\anton\AppData\Local\Continuum\anaconda3\envs\pythonrules\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [238]:
# This data is incomplete

age_groups = unique_dups.groupby("Age Group")

age_groups_count = (age_groups["SN"].count())

#list = []
#for i in age_groups_count:
    #age_groups_count[i] = age_groups_count.['Total Count']

columns = ['A', 'N']    
df_age = pd.DataFrame(age_groups_count)
df_age.columns = ['Total Count']
df_age['Total Percentage'] = (df_age['Total Count']/len(df_players)) * 100
df_age

           Total Count  Total Percentage
Age Group
>10                 17          2.951389
10-14               22          3.819444
15-19              107         18.576389
20-24              258         44.791667
25-29               77         13.368056
30-34               52          9.027778
35-39               31          5.381944
40+                  5          0.868056

In [239]:
age_groups = df.groupby("Age Group")

age_groups_sum = (age_groups["Price"].count())
age_groups_average = (age_groups["Price"].mean())
age_groups_total = (age_groups["Price"].sum())


df_age_1 = pd.DataFrame(age_groups_sum)
df_age_1.columns = ['Total Purchases']
df_age_1['Avg Price'] = age_groups_average
df_age_1['Total Purchase Value'] = age_groups_total
df_age_1['Avg Total Purchase per Person'] = df_age_1['Total Purchase Value']/df_age['Total Count']
#df_age['Total Percentage'] = (df_age['Total Count']/len(df_players)) * 100
df_age_1

,Total Purchases,Avg Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
>10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,6,2.785000,16.71,3.342000

In [377]:
players = df.groupby("SN")

players_count = (players["Price"].sum())
players_sum = (players["SN"].count())
purchase_price = (players["Price"].mean())


df_players = pd.DataFrame(players_count)
df_players['Total Purchase Count'] = players_sum
df_players['Purchase Price'] = players_count/players_sum


df_players.nlargest(5, 'Price')

             Price  Total Purchase Count  Purchase Price
SN
Lisosia93    18.96                     5        3.792000
Idastidru52  15.45                     4        3.862500
Chamjask73   13.83                     3        4.610000
Iral74       13.62                     4        3.405000
Iskadarya95  13.10                     3        4.366667

In [391]:
item = df.groupby("Item Name")

item_count = (item["Item Name"].count())
item_sum = (item["Price"].sum())
purchase_price = (item["Price"].mean())


df_players = pd.DataFrame(purchase_price)
df_players['Total Purchase Count'] = item_count
df_players['Total Purchase Value'] = item_sum


df_players.nlargest(5, 'Total Purchase Count')

,Price,Total Purchase Count,Total Purchase Value
Item Name,,,
Final Critic,4.614615,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",4.230000,12,50.76
"Extraction, Quickblade Of Trembling Hands",3.530000,9,31.77
Fiery Glass Crusader,4.580000,9,41.22
Nirvana,4.900000,9,44.10

In [387]:
# 3 observable data trends:

In [388]:
# 1. The brand has most of its income from people between the ages of 15-30, this means that a 
#great opportunity could arise from targeting other markets.

In [389]:
#2. Since the total market share is mostly males, the brand could innovate by creating games that are focused towards
# women. They, too, can be gamers.

In [392]:
#3 People from 34-39 have a higher spending range, which means that if they like the games, they are likely to pay more. 
# this is a great market for premium products.